* { padding: 0; margin: 0; }
html, body {
    height: 100vh;
    width: 100vw;
}   
@media only screen and (orientation: portrait){
    .parent {
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: column-reverse nowrap;
        height: 100%;
        background-color: rgba(51, 51, 51, .5);
    }
    
    .left {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        height: 35%;
        width: 100%;
    }
    .left img{
        height: 80%;
        transition: ease .5s;
    }
    .right {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        height: 65%;
        width: 100%;
    }
    .right .box {
        /*display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-items: center;*/
        border-radius: 10pt;
        /*background-color:rgba(255, 255, 255, .2);*/
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
        font-size: 14pt;      
    }
    .right .box > div {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .right .box .logo img{
        margin-top: 5%;
        height: 40%;
        width: 100%;    
    }
    .right .box .message {
        width: 70%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .right .box .button button {
        padding: 5% 12%;
        outline: none;
        border: 5px solid #00f5d0 ;
        background: none;
        color: white;
        border-radius: 30pt 30pt;
        font-size: 14pt;
       /* box-shadow: 0 5px 10px 3px #555555;*/
    }
  }
@media only screen and (orientation: portrait) and (min-height:800px){
    .left img{
        height: 70%;
        margin-bottom: -400%;
        transition: ease .5s;
    }
    
    .left img:hover {
        margin-bottom: -200%;
    }
}  
@media only screen and (orientation: landscape) {
    .parent {
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        background-color: rgba(51, 51, 51, .5);
    }
    
    .left {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        height: 100%;
        width: 35%;
    }
    .left img{
        height: 80%;
        width: 160%;
        margin-left: -80%;
        transition: ease .5s;
    }
    
    .left img:hover {
        margin-left: -55%;
    }
    .right {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        width: 65%;
    }
    .right .box {
        border-radius: 10pt;
        background-color:rgba(255, 255, 255, .2);
        height: 50%;
        width: 50%;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
        font-size: 14pt;
        margin-right: 10%;
    }
    .right .box > div {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .right .box .logo img{
        margin-top: 15%;
        height: 40%;
        width: 80%;    
    }
    .right .box .message {
        width: 70%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .right .box .button button {
        padding: 3% 10%;
        outline: none;
        border: 4px solid #00f5d0 ;
        background: none;
        color: white;
        border-radius: 30pt 30pt;
        font-size: 14pt;
        box-shadow: 0 5px 10px 3px #555555;
    }
}
